		/*header*/
nav{
	background-color: #04AD69;
}
.icon-bar{
	background-color: white;
}
.navbar-toggle{
	border: 2px solid white;
}
li>a{
	color: white;
}
		/*margin y padding*/
.mg-left{
	margin-left: 10%;
}
.pd-2{
	padding: 2%;
}
.pd-4{
	padding: 4%;
}
.m0{
	margin: 0;
}
.pb-3{
	padding-bottom: 3%;
}
.pt-4{
	padding-top: 4%;
}
		/*textos*/
.text-white{
	color: white;
}
.text-black{
	color: #463F44;
}
		/*section 1*/
#fondo1{
	background-image: url("../img/carousel-bg.jpg");
	background-size: 100% 100%;
}
h1, h2{
	font-family: 'Roboto:300', sans-serif;
}
		/*section 2 escoge tu paleta*/
hr{
	width: 20%;
	border: 1px solid #463F44;
}